# Dependencies
/node_modules

# Databases
database/*.sqlite
database/*.sqlite-journal

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/dist
/build 